.content {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.content a,
.content ul {
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.header-logo-span {
  color: #2e2f42;
}

.open-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
  border: none;
}

.wrapper {
  display: flex;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu-list {
  display: none;
}

.menu-link,
.adress-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: #404bbf;
  left: 0px;
  bottom: -1px;
}

.menu-link:hover,
.menu-link:focus,
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

.header-adress {
  font-style: normal;
}

.address-list {
  display: none;
}

.adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #fff;
  padding-top: 72px;
  padding-left: 16px;
  padding-bottom: 40px;
  padding-right: 24px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mob-menu-btn {
  position: absolute;
  margin-left: auto;
  margin-bottom: 24px;
  border-radius: 4px;
  border-radius: 50%;
  border: 1px solid #2e2f42;
  background-color: #e7e9fc;
  stroke-width: 1px;
  top: 24px;
  right: 24px;
}

.mob-menu-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.mob-list-item:not(:last-child) {
  margin-bottom: 40px;
}
.mob-menu-link-selected {
  color: #404bbf;
}

.mob-address-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mob-menu-link {
  color: #2e2f42;
}

.mob-adress-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.mob-adress-link-colored {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mob-icon-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.mob-icon-item {
  width: 40px;
  height: 40px;
}

.mob-icon-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon-link:hover,
.mob-icon-link:focus {
  background-color: #404bbf;
}

.mob-icon-soc-media {
  fill: #f4f4fd;
}

.hero {
  background: #2e2f42;

  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob-Dark-bg1x-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 320px;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mob-Dark-bg2x-min.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  white-space: nowrap;
  border: none;
  min-width: 169px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:active,
:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.advantages {
  padding: 96px 0;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-icon-list {
  list-style: none;
  padding: 0;
  text-align: center;
  justify-content: space-between;
  display: flex;
  gap: 24px;
  margin-bottom: 8px;
  display: none;
}

.advantages-icon-item {
  width: 264px;
  height: 112px;
}

.advantages-icon {
  fill: currentColor;
  width: 64px;
  height: 64px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  flex-wrap: wrap;
}

.advantages-item {
  width: 100%;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.team-item {
  background: #fff;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item img {
  width: 100%;
  height: auto;
}

.employee-name {
  padding: 32px 0px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.icon-item {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-soc-media {
  fill: #f4f4fd;
}

.portfolio {
  background: #fff;
  padding: 96px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 48px;
}

.cover-portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .cover-portfolio {
  transform: translateY(0);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.cover-portfolio {
  position: absolute;
  top: 0px;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-bottom {
  background-color: #2e2f42;
  padding: 96px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: block;
  align-self: center;
  text-align: center;
}

.footer-spam {
  color: #f4f4fd;
  margin-bottom: 17.5px;
  text-align: center;
}

.footer-container {
  margin-left: auto;
  width: 288px;
  height: 136px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.logo-footer-container {
  margin-bottom: 72px;
  max-width: 264px;
}

.footer-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.social-media {
  margin-left: 0;
  margin-bottom: 72px;
}

.icon-list-footer {
  display: flex;
  gap: 16px;
}

.icon-link-footer:hover {
  background-color: #31d0aa;
}

.icon-link-footer:focus {
  background-color: #31d0aa;
}

.icon-list-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.icon-item-footer {
  width: 40px;
  height: 40px;
}

.icon-link-footer {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-soc-media-footer {
  fill: #f4f4fd;
}

.backdrope {
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  width: 288px;
  min-height: 623px;
  padding-top: 72px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 24px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.icon-modal-close-button {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .icon-modal-close-button,
.modal-close-btn:focus > .icon-modal-close-button {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-input-wrapp {
  margin-bottom: 8px;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-lable {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding-left: 0px;
  margin-bottom: 4px;
  padding-right: 4px;
}

.modal-check:checked + .check-text .span-checkbox-text {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapp {
  position: relative;
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}
.modal-text {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 120px;
  width: 100%;
  align-items: center;
  padding: 4px 24px 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: transparent;
  outline: transparent;
  padding-left: 32px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  resize: none;
}

.modal-input:focus,
.modal-text:focus {
  border-color: #4d5ae5;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  white-space: wrap;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.span-checkbox-text {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  flex-wrap: wrap;
}

.modal-check:checked + .check-text .span-checkbox-text {
  background-color: #404bbf;
  border: none;
}

.modal-check:checked + .check-text .span-checkbox-text svg {
  fill: #f4f4fd;
}

.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: none;
}

.privacy-policy-link:hover {
  text-decoration: underline;
}

.modal-check {
  margin-left: 24px;
}

.modal-button {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscribe-button {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .wrapper {
    align-items: center;
  }

  .header-logo {
    margin-right: 120px;
  }

  .menu-list {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    padding: 24px 0;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .open-menu-btn {
    display: none;
  }

  .adress-link {
    font-size: 12px;
    padding: 0;
  }

  .hero {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-Dark-bg1x-min.jpg);
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tablet-Dark-bg2x-min.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 72px 24px;
    flex-wrap: wrap;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-subtitle {
    text-align: start;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 64px 24px;
    flex-wrap: wrap;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
    width: 264px;
  }

  .portfolio-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 72px 24px;
    flex-wrap: wrap;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .footer-flex {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: start;
    align-items: unset;
    justify-content: unset;
    max-width: 584px;
    gap: 72px 24px;
  }

  .footer-container {
    margin-right: unset;
    margin-left: unset;
    width: auto;
    height: auto;
  }

  .logo-footer-container {
    margin-bottom: unset;
    max-width: unset;
  }

  .footer-logo {
    text-align: start;
  }
  .social-media {
    margin-left: unset;
    margin-bottom: unset;
  }

  .social-media-paragraph {
    text-align: start;
  }

  .subscribe-paragraph {
    text-align: start;
  }

  .subscribe-form {
    flex-direction: row;
  }

  .form-input {
    width: 264px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .check-text {
    white-space: nowrap;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .menu-list {
    display: flex;
    gap: 40px;
  }

  .address-list {
    display: flex;
    gap: 40px;
    margin-left: auto;
    flex-direction: row;
  }

  .adress-link {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 1.5;
  }

  .hero {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background.jpg);
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desctop-people-office-2x-min.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
  }

  .advantages {
    padding: 120px 0;
  }

  .advantages-icon-list {
    list-style: none;
    padding: 0;
    text-align: center;
    justify-content: space-between;
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
  }

  .advantages-list {
    gap: 24px;
    flex-direction: unset;
    flex-wrap: nowrap;
  }

  .advantages-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: unset;
  }

  .advantages-text {
    font-weight: 400;
  }

  .team {
    padding: 120px 0;
  }

  .team-list {
    gap: 24px;
    flex-direction: unset;
    flex-wrap: nowrap;
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .portfolio {
    padding: 120px 0;
  }

  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
    flex-direction: unset;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }

  .logo-footer-container {
    margin-right: 120px;
  }

  .page-bottom {
    padding: 100px 0;
  }

  .footer-flex {
    display: flex;
    align-items: start;
    gap: none;
    flex-wrap: nowrap;
  }

  .footer-text {
    width: 264px;
    height: 72px;
  }

  .social-media {
    margin-right: 80px;
  }
}
